#createRoom{
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 20em;
    height: 25em;
    background-color: red;
}

#createRoom > input{
    width: 100%;
    height: 100%;
}

#joinRoom{
    position: absolute;
    right: 10%;
    bottom: 15%;
    width: 20em;
    height: 25em;
    background-color: blue;
}

#joinRoom > input{
    width: 100%;
    height: 100%;
}